@import 'tailwindcss';
@import 'tailwind-animations';

@theme {
  --font-trip-sans-vf: 'TripSans-VF';
  --font-georgia: 'Georgia';

  --color-white: #ffffff;
  --color-english-holly: #002b11;
  --color-lunar-green: #38443a;
  --color-malachite: #00eb5b;
  --color-simple-green: #00ab42;
  --color-beautiful-white: #f7f7f7;
  --color-sea-glass: #dfe1df;
  --color-australia-green: #00852f;
  --color-xanadu: #768a79;

  --breakpoint-xlg: 74rem;

  --spacing-section: calc(1136px + 24px * 2);
  --spacing-slide-review-lg: calc((100% + 16px * 2) * 0.41667 - 16px);
  --spacing-slide-review-md: calc((100% + 16px * 2) * 0.91667 - 16px);
  --spacing-slide-feature-lg: calc((100% + 24px * 2) * 0.41667 - 24px);
  --spacing-slide-feature-md: calc((100% + 24px * 2) * 0.91667 - 24px);
}
